<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.iammapping.uploader</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>24163D03-BFE9-4E45-A041-9AC5D7C1E328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A67AFFC1-4203-4E4B-BD1A-D815E717BDC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B173061-2A58-4519-AB26-9B7724E4CBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28C71050-DCD5-4AE4-9430-40A5C19F145E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F88EB3D-25AB-4554-B6C8-486C6ECBAD3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D7896DC-2C05-40E3-BCD5-403CE43BE62E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>copy url with markdown wrapper</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43200842-365D-49BF-9897-912D164FDEF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24163D03-BFE9-4E45-A041-9AC5D7C1E328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>893F288D-31C3-4C46-A311-A60DD02D5522</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8D764E-0573-4840-A315-28012861425A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>copy url with markdown wrapper</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24163D03-BFE9-4E45-A041-9AC5D7C1E328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C8D764E-0573-4840-A315-28012861425A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A67AFFC1-4203-4E4B-BD1A-D815E717BDC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B173061-2A58-4519-AB26-9B7724E4CBC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E911A5FA-1E89-4D4C-A879-E42087D5FD03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24163D03-BFE9-4E45-A041-9AC5D7C1E328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>iammapping</string>
	<key>description</key>
	<string>upload your image to remote</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uploader v1.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>upload</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>select an image to upload</string>
				<key>title</key>
				<string>Upload image to {var:UPLOAD_PROVIDER}</string>
				<key>types</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>893F288D-31C3-4C46-A311-A60DD02D5522</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php bin/upload --md "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C8D764E-0573-4840-A315-28012861425A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>use "uploaded" to lookup the history</string>
				<key>title</key>
				<string>😀Image upload success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A67AFFC1-4203-4E4B-BD1A-D815E717BDC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<true/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>43200842-365D-49BF-9897-912D164FDEF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php bin/upload "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24163D03-BFE9-4E45-A041-9AC5D7C1E328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1B173061-2A58-4519-AB26-9B7724E4CBC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Uploader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E911A5FA-1E89-4D4C-A879-E42087D5FD03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2F88EB3D-25AB-4554-B6C8-486C6ECBAD3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>uploaded</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>php bin/upload --history "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28C71050-DCD5-4AE4-9430-40A5C19F145E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>![]({query})
</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D7896DC-2C05-40E3-BCD5-403CE43BE62E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B173061-2A58-4519-AB26-9B7724E4CBC7</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>1D7896DC-2C05-40E3-BCD5-403CE43BE62E</key>
		<dict>
			<key>note</key>
			<string>copy with markdown wrapper</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>24163D03-BFE9-4E45-A041-9AC5D7C1E328</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>28C71050-DCD5-4AE4-9430-40A5C19F145E</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>2F88EB3D-25AB-4554-B6C8-486C6ECBAD3F</key>
		<dict>
			<key>note</key>
			<string>copy raw url</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>43200842-365D-49BF-9897-912D164FDEF0</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>893F288D-31C3-4C46-A311-A60DD02D5522</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8C8D764E-0573-4840-A315-28012861425A</key>
		<dict>
			<key>note</key>
			<string>wrap url with markdown</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>A67AFFC1-4203-4E4B-BD1A-D815E717BDC9</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E911A5FA-1E89-4D4C-A879-E42087D5FD03</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>UPLOAD_PROVIDER</key>
		<string>upyun</string>
		<key>UPYUN_BUCKET</key>
		<string>self-storage</string>
		<key>UPYUN_PWD</key>
		<string>mapping123</string>
		<key>UPYUN_USER</key>
		<string>mapping</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>UPYUN_PWD</string>
		<string>UPYUN_USER</string>
		<string>UPYUN_BUCKET</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>iammapping.com</string>
</dict>
</plist>
